html {
    height: 100%;
    position: relative;
    background: url("/images/adventure.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    margin: 60px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100vh; 
}
nav ul, footer ul {
    font-family: Rubik;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}


a {
    text-decoration: none;
    color: #2D2D2D;
    font-family: Rubik;
    vertical-align: middle;
}
a:hover {
    color: #6E6E6E;
}
a:active {
    color: #6E6E6E;
}
h1 {
    font-size: 3em;
    font-family: Roboto;
    color: #443F3B;
    text-align: center;
}
h2 {
    font-size: 2em;
    line-height: 1.4em;
    color: blanchedalmond;
    font-family: Roboto;
}
p {
    font-size: 1.25em;
    line-height: 1.4em;
    color: white;
    font-family: Rubik;
}
footer {
    border-top: 1px solid #2D2D2D;
    font-size: .8em;
    text-align: left;
    flex-shrink: 0;
    width: 100%;
    bottom: 0;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width : 10px)
  and (max-device-width : 600px){ 
    nav a {
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    .navicon {
        display: block;
        right: 0;
        top: 0;
    }
    nav{
        overflow: hidden;
        position: relative;
        text-align: right;
    }
    #links {
        display: none;
    }
}
@media only screen
  and (min-device-width : 601px)
  and (max-device-width : 1000000px){ 
    nav a {
        padding: 14px 16px;
        text-decoration: none;
    }
    .navicon {
        display: none;
    }
    nav{
        overflow: hidden;
        position: relative;
        text-align: right;
    }
}

.main-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; 
}
.homepage {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: center;
}
.container {
    padding: 10px;
}
.xamarin {
    width: 5em;
}
* {
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: border-box;
}
.inline {
    display:inline-block;
}
.icon {
    padding: .2em;
    vertical-align: middle;
}
.center {
    text-align: center;
}
.contact {
    font-size: 2em;
}
.pagepadding {
    padding-top: 20px;
}
.topborder {
    border-top: 1px solid blanchedalmond;
    padding-top: 20px;
}
.filledbackground {
    opacity: 0.8;
    background-color: #2D2D2D;
    padding: 20px;
    border-radius: 10px;
}
.lighttext {
    color: whitesmoke;
}
.contacttext {
    font-size:30px;
    color: whitesmoke;
}
.cvicon {
    font-size: 50px;
    padding: 0px 20px 0px 0px;
    vertical-align: middle;
}
.contacticon {
    font-size: 60px;
    padding: 30px 60px;
    vertical-align: middle;
}
.expertiseicon {
    font-size: 75px;
}
.download {
    font-size: 30px;
    padding: 30px;
}
